@charset "utf-8";
/* CSS Document */

/* For All */

*				{ margin: 0; padding: 0; }
a				{ text-decoration: none; color: #527619; }
img				{ border: none; }
li				{ list-style: none; }
body			{ font: normal 12px Verdana; color: #353535; background-color: #F6F6E8; }

/* Main Divs */

.container		{ width: 980px; margin: 0 auto; }
.header			{ padding: 25px; border-bottom: 1px dashed #ccc; }
.header h1		{ font: normal 26px 'Ubuntu Condensed'; color: #444; letter-spacing: 2px; text-transform: uppercase;
				background: url(../images/logo.png) no-repeat left center; padding-left: 45px; }

/* Login */

.login						{ margin: 0 auto; padding: 100px 0; }
.login input, .login select	{ float: left; font: normal 11px Arial; color: #555; padding: 2px; }
.login td					{ padding-top: 5px; }
.login td:first-child		{ font-weight: bold; text-align: right; padding-right: 5px; }
.login select				{ margin-right: 5px; }
.login input[type="submit"]	{ padding: 3px 17px; color: #333; font-weight: bold; }

/* Navigation */

.nav			{ padding: 15px 25px; border-bottom: 1px dashed #ccc; }
.nav a			{ font: bold 12px Verdana; color: #999; }
.nav a:hover	{ color: #333; }
.nav a.active	{ color: #333; }
.nav span		{ padding: 0 20px; }

/* Content */

.content		{ background: url(../images/bg.jpg) repeat; padding: 30px 25px; }
.content h1		{ float:right; font: bold 20px 'Ubuntu Condensed'; color: #777; }
.content p		{ line-height: 20px; }
.content ul li a		{ font: bold 13px Verdana; color: #5A4469; margin: 5px 0; }
.content ul li a:hover	{ color: #252525; }
.content ul li.dev a	{ background: url(../images/devices.png) no-repeat left center; padding: 5px 5px 5px 20px; display: block; width: 140px; }
.content ul li.sto a	{ background: url(../images/storage.png) no-repeat left center; padding: 5px 5px 5px 20px; display: block; width: 140px; }
.content ul li.isft a	{ background: url(../images/ins_soft.png) no-repeat left center; padding: 5px 5px 5px 20px; display: block; width: 140px; }
.content ul li.rsft a	{ background: url(../images/running_soft.png) no-repeat left center; padding: 5px 5px 5px 20px; display: block; width: 140px; }
.content .con_link 			{ padding-bottom: 25px;  border-bottom: 1px dashed #fff; margin-bottom: 25px; }
.content .con_link span		{ padding: 0 10px; }
.content .con_link a		{ font: bold 11px Verdana; color: #888; }
.content .con_link a:hover	{ color: #5A4469; }
.content .con_link a.add	{ background: url(../images/add.png) no-repeat left center; padding: 5px 5px 5px 30px; display: block;
							width: 140px; font: bold 14px Verdana; color: #009933; }

/* Table */

.norm			{ border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; font: normal 11px Verdana; }
.norm tr th		{ padding: 8px 12px; border-top: 1px solid #fff; border-left: 1px solid #e5e5e5; background-color: #87AB4F;
				font-weight: bold; text-align: left; color: #fff; }
.norm tr td		{ padding: 8px 12px; border-top: 1px solid #fff; border-left: 1px solid #fff; background-color: #E5E5D1; }
.norm td input	{ font: bold 11px Verdana; color: #333; padding: 2px 5px; margin: 0; }

.warning {color: red;}

/* Footer */

.footer			{ padding: 20px 25px; border-top: 1px dashed #ccc; }
.footer p		{ font: normal 10px Verdana; color: #666; }

/* dashboard page, from phpMyAdmin */

#mysqlmaininformation,
#pmamaininformation {
    float: left;
    width: 49%;
}

#maincontainer ul {
    list-style-type: disc;
    vertical-align: middle;
}

#maincontainer li {
    margin:  0.5em 3em;
    /* margin: 5px 10px; */
}

#main_pane_left {
    width:              60%;
    float:              left;
    padding-top:        1em;
}

#main_pane_right {
    margin-left: 60%;
    padding-top: 1em;
    padding-left: 1em;
}

.group {
    border-left: 0.3em solid #87AB4F/*#9CA096*/;
    margin-bottom:      1em;
}

.group h2 {
    background:         #87AB4F;
    padding:            0.1em 0.3em;
    margin-top:         0;
    color:              white;
}

.group-cnt {
    padding: 0 0 0 0.5em;
    display: inline-block;
    width: 98%;
}

li#li_change_password {
    list-style-image: url(../images/icons/s_passwd.png);
}

td#td_notice {
    font-weight: bold;
    color: blue;
    background-color: #BDC9BD;
}

td#td_warning {
    font-weight: bold;
    color: orange;
    background-color: #BDC9BD;
}

td#td_error {
    font-weight: bold;
    color: red;
    background-color: #BDC9BD;
}

td#td_critical {
    font-weight: bold;
    color: #FF00BF;
    background-color: #BDC9BD;
}

#li_disc {
    list-style: disc;
}

/* END dashboard page */

#not_solved {
    font-weight: bold;
    color: red;
}